.faqHero-container {
    width: 100vw;
    height: 450px;
    background-color: rgb(150, 150, 150);
    display: flex;
    text-align: center;
    p {
        margin: auto;
    }

}

.faq-container {
    width: 80vw;
    margin: 0 auto;
    background-color: rgb(199, 199, 199);
    display: grid;
    grid-template-columns: 3fr 7fr;
    position: relative;

    p {
        margin: 0;
    }

    .faq-answer {
        padding: 20px 20px 60px;
        background-color: rgb(170, 170, 170);
        font-size: 18px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .faq-question {
        position: sticky;
        top: 80px;
        z-index: 10;
        padding: 20px 20px;
        background-color: rgb(100, 100, 100);
    }
}