.faqHero-container {
    width: 100vw;
    height: 300px;
    background-image: url("../assets/svg/banners/heroFAQ.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    @media only screen and (max-width: 600px) {
        height: 220px;
    }
    h1 {
        font-family: "Cairo", sans-serif;
        font-weight: 600;
        margin: auto;
        color: white;
    }
    @media only screen and (max-width: 600px) {
        font-size: 0.9rem;
    }

}

.faq-container {
    max-width: 750px;
    width: 90vw;
    margin: 0 auto;
    // background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .faq-question {
        // margin: auto;
        // width: 300px;
        margin-bottom: -30px;

        p {
            font-family: Cairo, sans-serif !important;
            color: #352086;
            font-size: 1.6rem;
            line-height: 2.2rem;
            // text-align: center;
            font-weight: 600;

        }
    }

    .faq-answer {
        font-family: Cairo, sans-serif !important;
        font-size: 1.3rem;
        padding: 0 0 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

        a {
            color: #5E3AF5;
        }

    }
}