@import url("https://use.typekit.net/jwh5bwc.css");

body {
    margin: 0;
}

* {
    font-family: omnes-pro, sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cairo, sans-serif;
}

//
// LAYOUT
//

