@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
@import url("https://use.typekit.net/uel0mae.css");

//
// VARIABLES
//

$purple: #5E3AF5;
$dark-purple: #291E39;
$red: #FC6043;
$blue: #60CBEE;
$pink: #EBAFFC;
$orange: #FF8937;
$green: #B0F1BF;
$pink: #FFDCDF;
$tan: #F4EEDD;

//
// GENERAL
//

body {
    margin: 0;
    font-family: omnes-pro, sans-serif;
}

//
// LAYOUT
//

