$nav-height: 80px;



.hero-container {
    width: 100vw;
    height: calc(100vh - $nav-height);
    background-color: rgb(185, 185, 185);
    display: flex;
    text-align: center;
    position: relative;
    p {
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      margin: auto;
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      opacity: .4;
      z-index: 100;
      transition: 1.3s;
      transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
    }
    perspective: 400px;

}



//
// 3D LAYOUT
//

.hero-background {
  position: relative;
  width: 100vw;
  height: calc(100vh - $nav-height);
}

.hero-top {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: calc(50vh - ($nav-height/ 2));
    background-image: url('../assets/svg/hero/top.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top:0px;
}

.hero-right {
  position: absolute;
  width: 50vw;
  max-width: 100%;
  height: calc(100vh - $nav-height);
  background-image: url('../assets/svg/hero/right.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right:0px;
}

.hero-bottom {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: calc(50vh - ($nav-height/ 2));
  background-image: url('../assets/svg/hero/bottom.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom:0px;
}

.hero-left {
  position: absolute;
  width: 50vw;
  max-width: 100%;
  height: calc(100vh - $nav-height);
  background-image: url('../assets/svg/hero/left.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left:0px;
}

.hero-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../assets/svg/hero/back.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) translateZ(0px);
  top: 50%;
  left: 50%;
  transition: 1.3s;
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
  display: flex;
}

.hero-perspectiveBack {
  transform: translate(-50%, -50%) translateZ(-450px);
}

.hero-perspectiveP {
  transform: translate(-50%, -50%) translateZ(-50px) !important;
}