nav {
    height: 80px;
    background-color: #f4eedd;
    position: sticky;
    z-index: 100;
    top: 0px;

    &.sticky {
        border-bottom: 3px solid #ccc;
    }
}

.nav-container {
    margin: 0 auto;
    max-width: 1400px;
    width: 80vw;
    
    display: flex;
    justify-content: center;
}

.homeLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    transition: all 450ms ease-in;
    opacity: 1;
    flex: auto;
    
    &.hidden {
        transition: all 450ms ease-in;
        opacity: 0;
        flex: 0;
        width: 0;
    }

    img {
        height: 60px;
    }
}

.nav-right {
    //width: 300px;
    background-color: #d6d2c1;
    display: flex;
    flex-direction: row;
    perspective: 200px;
    transition: all 450ms ease-in;

    a {
        margin: 0;
    }
}

  
.box {
    display: block;
    width: 120px;
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-40px);
    transition: 300ms all ease-in;
    color: #291f39;

    &:hover {
        transform: translateZ( -80px) rotateX(-90deg);
        transition: 300ms all ease-in;
    }

    &.pattern-1 {
        .box__face--top  { 
            background: url(../assets/images/nav/navbg1.png); 
            background-size: cover;
        }
    }

    &.pattern-2 {
        .box__face--top  { 
            background: url(../assets/images/nav/navbg2.png); 
            background-size: cover;
        }
    }

    &.pattern-3 {
        .box__face--top  { 
            background: url(../assets/images/nav/navbg3.png); 
            background-size: cover;
        }
    }
}

.wall {
    position: relative;
    transform: translateZ(-40px);
    height: 80px;
    width: 80px;
    transform-style: preserve-3d;
    position: absolute;
    left: calc(50% - 40px);
}

.box__face {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box__face--front {
    font-weight: 700;
    font-size: 18px;
    color: #291E39;
}

.box__face--top {
    font-size: 18px;
    font-weight: 700;
}

.box__face--front, .box__face--back {
    width: 120px;
    height: 80px;
    
}

.box__face--left, .box__face--right {
    width: 80px;
    height: 80px;
    left: 20px;
}

.box__face--top, .box__face--bottom {
    width: 120px;
    height: 80px;
    top: 0px;
}

.bring-forward {
    z-index: 50;
}

.bring-back {
    z-index: 30;
}

.rightWall, .leftWall {
    height: 80px;
    width: 80px;
    background-color: #ebe6d3;
}

.box__face--front  { background: #f4eedd; }
.box__face--right  { background: #ebe6d3; }
.box__face--back   { background: #666; }
.box__face--left   { background: #ebe6d3; }
.box__face--top    { background: #aaa; }
.box__face--bottom { background: #ccc; }

.box__face--front  { transform: rotateY(  0deg) translateZ( 40px); }
.box__face--back   { transform: rotateY(180deg) translateZ( 40px); }

.box__face--right { transform: rotateY( 90deg) translateZ(60px); }
.box__face--left  { transform: rotateY(-90deg) translateZ(60px); }

.rightWall { transform: rotateY( 90deg) translateZ(180px); }
.leftWall  { transform: rotateY(-90deg) translateZ(180px); }

.box__face--top    { transform: rotateX( 90deg) translateZ(40px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(40px); }