.nav-container {
    // max-width: 1000px;
    // width: 100vw;
    height: 80px;
    background-color: rgb(212, 212, 212);
    position: sticky;
    z-index: 100;

    margin: auto;
    top: 0px;

    padding: 0 50px;
    display: flex;

    a, .nav-right {
        margin: auto;
    }
}

.nav-right {
    //width: 300px;
    display: flex;
    justify-content: space-between;
    perspective: 500px;
    a {
        margin: 0;
    }
}
  
.box {
    width: 100px;
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-40px);

    &:hover {
        .box__face--front {
            transform: translateZ(-40px);
            transition: 300ms all ease-in;
        }
    }
}

.box__face {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box__face--front,
.box__face--back {
    width: 100px;
    height: 80px;
    
}

.box__face--right,
.box__face--left {
    width: 80px;
    height: 80px;
    left: 10px;
}

.box__face--top,
.box__face--bottom {
    width: 100px;
    height: 80px;
    top: 0px;
}

.box__face--front  { background: hsla(  0, 100%, 50%, .4); transition: 300ms all ease-in; }
.box__face--right  { background: hsla( 60, 100%, 50%, 0.3); }
.box__face--left   { background: hsla(180, 100%, 50%, 0.3); }
.box__face--top    { background: hsla(240, 100%, 50%, 0.3); }
.box__face--bottom { background: hsla(300, 100%, 50%, 0.3); }

.box__face--front  { transform: rotateY(  0deg) translateZ( 40px); }
.box__face--back   { transform: rotateY(180deg) translateZ( 40px); }

.box__face--right  { transform: rotateY( 90deg) translateZ(50px); }
.box__face--left   { transform: rotateY(-90deg) translateZ(50px); }

.box__face--top    { transform: rotateX( 90deg) translateZ(40px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(40px); }

.box.show-front  { transform: translateZ( -25px) rotateY(   0deg); }